{% extends 'dashboard/base.html' %}
{% block dashboardcontent %}

TEST HTML DATA
<!------
<form action="{% url 'dashboard:dashboard_index' %}" method="get">
    <button type="submit" class="btn action-btn btn-block">Go Back</button>
</form>

<form action="{% url 'login' %}" method="get">
    <button type="submit" class="btn btn-outline logout-btn">Login</button>
</form>

<form action="{% url 'index' %}" method="get">
    <button type="submit" class="btn action-btn btn-block">Go Back</button>
</form>


<form action="{% url 'dashboard:add_products' %}" method="get">
    <button type="submit" class="btn btn-block action-btn p-3">Add Products</button>
</form>

{% endblock %}